.menu_top {
    background-color: black;
    height: 50px;
    ul {
        li {
          display: inline-block;
        }
    }
}

header {
    .logo {

    }
    ul {
        float: right;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 20px;
            font-weight: bold;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color:black;
            }
        }
    }
}

.slider {
    background-color: green;
    padding: 100px 0;
    text-align: center;
    h1 {
        font-size: 55px;
        color:white;
        text-transform: uppercase;
    }
    p {
        color:white;
        font-size: 18px;
    }
}
.content1 {
    padding: 50px;
    .title {
        text-align: center;
        h2 {
            color: back;
            font-size: 50px;
            text-transform: uppercase;
            span {
                color: green;
            }
        }
    }
    .item {
        text-align: center;
        img {
            width: 100px;
            height: auto;
        }
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            margin: 15px 0;
        }
    }
}
.content2{
    padding:50px;
    .title {
        text-align: center;
        h2 {
            color: back;
            font-size: 50px;
            text-transform: uppercase;
            span {
                color: green;
            }
        }
    }
    .item {
        text-align: center;
        img {
            width: 100px;
            height: auto;
        }
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            margin: 15px 0;
        }
    }
    .a{
        left: 20%;
        background-color:crimson;
    }
}
